body {
  background-color: #030303;
  color: #fff;
  min-height: 100vh;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.common-btn {
  background-color: rgb(13, 187, 65);
  color: #fff;
  height: 25px;
  width: 80px;
  box-shadow: 0px 0px 5px rgb(13, 187, 65);
  transition: all 0.2s ease-in-out;
}
.common-btn:hover {
  box-shadow: 0px 0px 20px rgb(13, 187, 65);
}
